.container {
    margin: auto;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.header ul {
    width: 65rem;
}

.header > ul > li:hover {
    background-color: transparent !important;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.footer div {
    width: 65rem;
}