.container {
    max-width: 65rem;
    margin: auto;
}

.header {
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.header ul {
    width: 100%;
}

.header > ul > li:hover {
    background-color: transparent !important;
}
