@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.logo {
  background-image: url("../public/img/logo.png");
}

.ant-menu, .ant-layout, .ant-layout-header {
  background-color: rgb(10, 24, 46) !important;
}

.ant-menu-horizontal, .ant-menu-item::after, .ant-menu-submenu::after {
  border: none !important;
}

.ant-menu-item-selected, .ant-menu-item-active {
  background-color: transparent !important;
}

.site-card-border-less-wrapper {
  padding: 30px;
  text-align: center;
  background: rgb(10, 24, 46) !important;
}

.site-gray-card-border-wrapper {
  padding: 30px;
  text-align: center;
  background: rgb(229, 231, 235) !important;
}

.site-image {
  margin: 50px;
}

.site-image img {
  border-radius: 2%;
}

.site-typo {
  margin-top: 130px;
  text-align: left;
}

.site-typo ul {
  margin-top: 50px;
}